#wrapper {
  height: 400px;
  width: auto;
  background-color: rgb(103, 187, 202);
}
#figure {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#head {
  border: 3px black solid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
#body {
  border: 2px black solid;
  height: 100px;
}
#left-arm {
  border: 2px black solid;
  transform: translateY(-85px) rotate(40deg) translateX(-35px);
  height: 80px;
}
#right-arm {
  border: 2px black solid;
  transform: translateY(-170px) rotate(-40deg) translateX(35px);
  height: 80px;
}
#left-leg {
  border: 2px black solid;
  transform: translateY(-159px) rotate(37deg) translateX(-33px);
  height: 80px;
}
#right-leg {
  border: 2px black solid;
  transform: translateY(-243px) rotate(-37deg) translateX(33px);
  height: 80px;
}
#floor {
  border: 2px black solid;
  height: 500px;
  transform: rotate(90deg) translateX(-520px);
}
button {
  background-color: cornflowerblue;
  font-size: 16px;
  color: black;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  bottom: 750px;
}

button:hover {
  color: white;
}
