#wrapper {
  height: 300px;
  width: auto;
  background-color: rgb(103, 187, 202);
}
#figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
#head {
  border: 3px black solid;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
#body {
  border: 2px black solid;
  height: 100px;
}
#left-arm {
  border: 2px black solid;
  transform: translateY(-85px) rotate(40deg) translateX(-35px);
  height: 80px;
}
#right-arm {
  border: 2px black solid;
  transform: translateY(-170px) rotate(-40deg) translateX(35px);
  height: 80px;
}
#left-leg {
  border: 2px black solid;
  transform: translateY(-159px) rotate(37deg) translateX(-33px);
  height: 80px;
}
#right-leg {
  border: 2px black solid;
  transform: translateY(-243px) rotate(-37deg) translateX(33px);
  height: 80px;
}
#floor {
  border: 2px black solid;
  height: 0px;
  width: auto;
  transform: rotate(180deg) translateY(270px);
}
#button {
  background-color: rgb(103, 187, 202);
  border: 2px solid black;
  font-size: 16px;
  color: black;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

#button:hover {
  color: white;
  background-color: black;
}
